@tailwind base;
@tailwind components;
@tailwind utilities;

body::-webkit-scrollbar {
  width: 6px;
  border-radius: 0.25rem;
}
 
body::-webkit-scrollbar-thumb {
  background-color: #94a3b8;
  outline: 1px solid slategrey;
}